.search-input {
  min-width: 75vw;
}

/* .credential-card {

} */

.credential-card .credential-image {
  width: 200px;
  height: 100%;
}

.credential-card .credential-title {
  font-size: 25px;
}

.credential-card .credential-details {
  font-size: 14px;
  position: absolute;
  float: right;
  margin-left: 2vw;
}
